[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"

[dev-packages]
"moto" = "*"
"pytest" = "*"
"kiner" = {path = ".", editable = true}

[requires]
python_version = "3.6"
